<% provide(:title, 'Sign up') %>
<section id="section-contact" class="section appear clearfix">
	<div class="col-md-offset-3 col-md-6">
		<div class="section-header">
			<h2 class="section-heading animated" data-animation="bounceInUp">Sign Up</h2>
			<p>Pay back your friends and create an account with us. It's free! </p>
		</div>
	</div>
	<div class="container">
	  <div class="span6 offset3">
	    <%= form_for(@user, :html => { :class => "contactForm"} ) do |f| %>
	      <%= render 'shared/error_messages' %>
		<div id="contact-form" class="cform">
	  	<%= render '/users/fields', f: f %>
 		<p id = "signin-text"> Already have an account? </p>
		<%= f.submit "Create my account", class: "btn btn-theme pull-left" %>
		    <%= link_to "Sign In", signin_url, class: "btn btn-theme pull-right", type: "submit" %>

		    <% end %>
		</div>

	  </div>
	</div>
</div>
