<!-- <% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
   <section>
  <h1>
     <%= gravatar_for @user %>
     <%= @user.name %>
  </h1>
   </section>
 </aside>
</div> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>Bootply.com - Bootstrap 3 Control Panel</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- CSS code from Bootply.com editor -->


        <style type="text/css">
            .navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:18px;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 8px;
  font-size: 10px;
  font-weight: normal;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
        </style>
    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
        
        <!-- Header -->

<!-- /Header -->

<!-- Main -->
<div class="container" style="padding-top: 100px;">
  
  <!-- upper section -->
  <div class="row">
  <div class="col-md-3">
      <!-- left -->
  
         <section id="name">
  <h1>
     <%= gravatar_for @user %>
     <%= @user.name %>
  </h1>

    </section>
    <%= render 'shared/transaction_form' %>
    </div><!-- /span-3 -->
    <div class="col-md-9">
        
      <!-- column 2 --> 
      

     <div class="row">
            <!-- center left--> 

            <div>
              <%= render 'shared/processing' %>
            </div>
            
        
         
            <!--center-right-->
          <div class="col-md-5">
              
                <ul class="nav nav-justified">
              <li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I would..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
              <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
              <li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
            </ul>  
              
               
                <hr>
              
                <div class="btn-group btn-group-justified">
	  	  <%= link_to '<i class="glyphicon glyphicon-user"></i><br>Users'.html_safe,  users_path(), :class => 'btn btn-info col-sm-3' %>
                  <a href="#list_friends" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-heart"></i><br>
                    Friends
                  </a>
                  <a href="#myTab" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-book"></i><br>
                    Collects
                  </a>
                  <a href="#myTab" class="btn btn-info col-sm-3">
                    <i class="glyphicon glyphicon-credit-card"></i><br>
                    Debts
                  </a>
                </div>
                <br>
		<section id="add_friend">
		<% if current_user != @user %>
			<% if friendswith?(@user) %>
			  <% if inversefriend?(@user) %>
				<%= link_to '<i class="glyphicon glyphicon-minus"></i><br>Unfriend'.html_safe, inversefriendships_path(2),:class => 'btn btn-info col-sm-3', :method => :delete %>
			  <% else %>
				<%= link_to '<i class="glyphicon glyphicon-minus"></i><br>Unfriend'.html_safe, friendships_path(:user_id => @user),:class => 'btn btn-info col-sm-3', :method => :delete %>
			  <% end %>
			<% else %>
		       	   <%= link_to '<i class="glyphicon glyphicon-plus"></i><br>Add Friend'.html_safe, friendships_path(:friend_id => @user), :class => 'btn btn-info col-sm-3', :method => :post %>
			<% end %>
		<% end %>
		</section>

         	
       </div><!--/row-->
    </div><!--/col-span-9-->


  <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#collections" data-toggle="tab">Your Collections</a></li>
          <li><a href="#debts" data-toggle="tab">Your Debts</a></li>
        </ul>
        
        <div class="tab-content">
          <div class="tab-pane active" id="collections">
		<%= render 'shared/showTransactions' %>
          </div>
          <div class="tab-pane" id="debts">
        	<%= render 'shared/showInverseTransactions' %>          
            
          </div>
        </div>
      </div>
      <!--/tabs-->
    
    
  </div><!--/row-->

      <div class="row">
      <hr>
	<div class="col-md-12" >
	  <div class="users">
		<h3>Friends</h3>
		<ul>
		   <% for friendship in @user.friendships %>
		<li>
		<%= gravatar_for friendship.friend %>
		<%=h friendship.friend.name %>
		(<%= link_to "remove", friendship, :method => :delete %>)
		</li>
		<% end %>
		</ul>
		<ul>
		<% for friendship in @user.inverse_friendships %>
		<li>
		<%= gravatar_for friendship.friend %>
		<%=h friendship.friend.name %>
	        (<%= link_to "remove", friendship, :method => :delete %>)
		</li>
		<% end %>
		</ul>
	  </div>
	</div>
      </div>

</div><!--/container-->
<!-- /Main -->



  
        
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>





        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
       
    </body>
</html>
