  <div class="col-md-7">
          
              <div class="panel panel-default">
                  <div class="panel-heading"><h4>This Month's Transaction Progress</h4></div>
                  <div class="panel-body">

                    <% if @user.transactions.any? %>
                          <small>I've Received</small>
                          <div class="progress">
                          $<%= monthly_received(@user) %>
                           <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow='<%= monthly_received(@user) %>' aria-valuemin="0" aria-valuemax= '<%= monthly_receivable(@user) %>' style="width: <%=100*(monthly_received(@user)/monthly_receivable(@user))%>%"
                             <span class="sr-only"> <%=(100*(monthly_received(@user)/monthly_receivable(@user))).round(2)%>% Complete</span> 
                            </div>
                          </div>
                       <% end %>

                       <% if @user.inverse_transactions.any? %>

                          <small>I've Paid</small>
                          <div class="progress">
                            $<%= monthly_paid(@user) %>
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow='<%= monthly_paid(@user) %>' aria-valuemin="0" aria-valuemax='monthly_payable(@user)' style="width: <%=100*(monthly_paid(@user)/monthly_payable(@user))%>%"
                              <span class="sr-only"> <%=(100*(monthly_paid(@user)/monthly_payable(@user))).round(2)%>% Complete</span>
                            </div>
                          </div>
                    <% end %>

                  </div><!--/panel-body-->
              </div><!--/panel-->                     
              
            </div><!--/col-->

