    <div class="col-md-12">
      <h3><i class="glyphicon glyphicon-credit-card"></i> What you Owe </h3>
      <% if @user.inverse_transactions.any? %>
	      <table class="table table-striped">
		<thead>
		  <tr><th>Name</th><th>Amount</th><th>Collector</th><th>Paid?</th><th></th></tr>
		</thead>
		<tbody>
		  <% for transaction in @user.inverse_transactions %>
		  <% @collector = User.find(transaction.user_id) %>
		  <tr><td><%=h transaction.id %><%=h transaction.name %></td><td><%=h transaction.amount %></td><td><%=h @collector.name %></td>
		  <td>
		   <%  if transaction.paid? %>
			Yes
		   <% else %>
			No
		   <% end %>
		  </td>
		  <!-- option to pay up -->
		<td>
		<!-- <%= link_to '<i class="glyphicon glyphicon-usd"></i><br>Pay Up'.html_safe, 
					     transaction_path(transaction, "transaction[status]" => true), 
					     method: :put,
					     :class => 'btn btn-info',
		                             data: { confirm: "You sure?" },
		                             title: transaction.paid %>-->
     <a href="#" class="btn btn-info">
                    <i class="glyphicon glyphicon-credit-usd"></i><br>
                    Pay Up
                  </a>

	
		</td>
		</tr>

		  <% end %>
		</tbody>
	      </table>
	<% else %>
		<p> You currently have no debts. </p>
	<% end %>
   </div>     
