
<section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
       <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
          <h1>
            <a class="navbar-brand" href="/" data-0="line-height:90px;" data-300="line-height:50px;">     IOU
          </a></h1>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
            <li><%= link_to "Home", root_path, class: "active" %></li>
            <li><a href="#section-about">About</a></li>
            <li><a href="#section-works">Features</a></li>
            <li><a href="#section-signup">Sign Up</a></li>
            <li> <%= link_to "Sign In", signin_path %> </li>
            
            <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <li> <%= link_to "Account", current_user, :class=> "dropdown-toggle", :data => {:toggle=>"dropdown"} %></li>
              <li><b class="caret"></b> </li>
              
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>

                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>